@using System;
@using System.Globalization;
@using Backlogger.ViewModels
@model SearchListViewModel

@{
  string BackgroundStyle = "";
  string TransParentBg = "";
  DateTime ParsedDate = new DateTime();
  string ReleaseDate = "";
  if (!String.IsNullOrEmpty(Model.RawgSearchResult.Released))
  {
    ParsedDate = DateTime.Parse(Model.RawgSearchResult.Released);
    ReleaseDate = "<h6 class='card-subtitle mb-2 text-muted'>Released: " + @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(ParsedDate.Month) + " " + @ParsedDate.Day + ", " + @ParsedDate.Year + "</h6>";
  }
  }
@if (Model.RawgSearchResult.BackgroundImage != null)
{
  BackgroundStyle = "background:url(" + @Model.RawgSearchResult.BackgroundImage + "),#303030;background-size:100% auto; background-position:center";
  TransParentBg = "trans-black-bg";
}
<div class="card mb-3 movie-search-card" style="@BackgroundStyle">
  <div class="card-body">
    <div class="movie-search-container">
      <div class="game-search-column-left mr-3">
        @if (Model.RawgSearchResult.ShortScreenshots.Count > 1)
        {
          <img class="search-poster" src="@Model.RawgSearchResult.ShortScreenshots[1].Image">
        }
        else
        {
          <img class="no-game-poster" src="/img/gamepad-alt-duotone.svg">
        }
      </div>
      <div class="movie-search-column-center p-2 @TransParentBg">
        <h5 class="card-title">@Model.RawgSearchResult.Name</h5>
        @Html.Raw(ReleaseDate)
      </div>
      <div class="movie-search-column-right ml-3">
        @using (Html.BeginForm("Details", "Items", new {id = Model.RawgSearchResult.Id}, FormMethod.Get))
        {
          <input type="hidden" id="type" name="type" value="game">
          @if(Model.RawgSearchResult.ShortScreenshots.Count > 1)
          {
            <input type="hidden" id="screenshot" name="screenshot" value="@Model.RawgSearchResult.ShortScreenshots[1].Image">
          }
          <button class="btn btn-warning mb-3 movie-card-button" type="submit"><i class="fal fa-info-circle"></i></button>
        }
        @if(!Model.ApiIds.Contains(Model.RawgSearchResult.Id))
        {
          @using (Html.BeginForm("Create", "Items", new {id = Model.RawgSearchResult.Id}, FormMethod.Post))
          {
            @if(Model.RawgSearchResult.ShortScreenshots.Count > 1)
            {
              <input type="hidden" id="screenshot" name="screenshot" value="@Model.RawgSearchResult.ShortScreenshots[1].Image">
            }
            <input type="hidden" id="type" name="type" value="game">
            <button class="btn btn-success movie-card-button" type="submit"><i class="fas fa-plus"></i></button>
          }
        }
        else
        {
          <button class="btn btn-secondary movie-card-button" type="submit" disabled><i class="fal fa-times-square"></i></button>
        }
      </div>
    </div>
  </div>
</div>