@using System;
@using System.Globalization;
@using Backlogger.ApiModels
@model TmdbMovieRoot

@{
  DateTime ParsedDate = new DateTime();
  string ReleaseDate = "";
  if (!String.IsNullOrEmpty(Model.ReleaseDate))
  {
    ParsedDate = DateTime.Parse(Model.ReleaseDate);
    ReleaseDate = @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(ParsedDate.Month) + " " + @ParsedDate.Day + ", " + @ParsedDate.Year;
  }
  List<string> LanguageList = new List<string>();
  foreach(TmdbMovieSpokenLanguage language in Model.SpokenLanguages){
    LanguageList.Add(language.Name);
  }
  var LanguagesString = String.Join(", ", LanguageList);
  List<string> ProductionCoList = new List<string>();
  foreach(TmdbMovieProductionCompany company in Model.ProductionCompanies)
  {
    ProductionCoList.Add(company.Name);
  }
  var ProductionCoString = String.Join(", ", ProductionCoList);
}

<div class="card movie-details-card p-3">
  <div class="movie-details-container">
    <div class="movie-details-poster">
      @if (Model.PosterPath != null)
      {
        <img class="search-poster mb-3" src="https://image.tmdb.org/t/p/original/@Model.PosterPath">
      }
      else
      {
        <img class="no-movie-poster-details mb-3" src="/img/film-alt-duotone.svg">
      }
      <h3 class="card-title">@Model.Title</h3>
      <button class="btn btn-success movie-card-button mt-3">Add to Backlog</button>
    </div>
    <div class="movie-details-content ml-3 p-2">
      @if(Model.ReleaseDate != null){
        <h5 class="card-title">Released</h5>
        <p>@ReleaseDate</p>
      }
      @if(Model.Runtime != null){
        <hr />
        <h5 class="card-title">Runtime</h5>
        <p>@Model.Runtime mins</p>
      }
      @if(Model.Tagline != null){
        <hr />
        <h5 class="card-title">Tagline</h5>
        <p>@Model.Tagline</p>
      }
      @if(Model.Overview != null){
        <hr />
        <h5 class="card-title">Overview</h5>
        <p>@Model.Overview</p>
      }
      @if(!String.IsNullOrEmpty(LanguagesString)){
        <hr />
        <h5 class="card-title">Language</h5>
        <p>@LanguagesString</p>
      }
      @if(!String.IsNullOrEmpty(ProductionCoString)){
        <hr />
        <h5 class="card-title">Production Company</h5>
        <p>@ProductionCoString</p>
      }
    </div>
  </div>
</div>