@using System;
@using System.Globalization;
@using Backlogger.ApiModels
@model TmdbTvRoot

@{
  DateTime ParsedDate = new DateTime();
  string FirstAirDate = "";
  string LastAirDate = "";
  if (!String.IsNullOrEmpty(Model.FirstAirDate))
  {
    ParsedDate = DateTime.Parse(Model.FirstAirDate);
    FirstAirDate = @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(ParsedDate.Month) + " " + @ParsedDate.Day + ", " + @ParsedDate.Year;
  }
  if (!String.IsNullOrEmpty(Model.LastAirDate))
  {
    ParsedDate = DateTime.Parse(Model.FirstAirDate);
    LastAirDate = @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(ParsedDate.Month) + " " + @ParsedDate.Day + ", " + @ParsedDate.Year;
  }
  List<string> CreatedList = new List<string>();
  foreach(CreatedBy createdBy in Model.CreatedBy){
    CreatedList.Add(createdBy.Name);
  }
  var CreatedString = String.Join(", ", CreatedList);
  List<string> NetworkList = new List<string>();
  foreach(Network network in Model.Networks){
    NetworkList.Add(network.Name);
  }
  var NetworkString = String.Join(", ", NetworkList);
  List<string> ProductionCoList = new List<string>();
  foreach(Network company in Model.ProductionCompanies)
  {
    ProductionCoList.Add(company.Name);
  }
  var ProductionCoString = String.Join(", ", ProductionCoList);
}

<div class="card movie-details-card p-3">
  <div class="movie-details-container">
    <div class="movie-details-poster">
      @if (Model.PosterPath != null)
      {
        <img class="search-poster mb-3" src="https://image.tmdb.org/t/p/original/@Model.PosterPath">
      }
      else
      {
        <img class="no-tv-poster-details mb-3" src="/img/tv-retro-duotone.svg">
      }
      <h3 class="card-title">@Model.Name</h3>
      <button class="btn btn-success movie-card-button mt-3">Add to Backlog</button>
    </div>
    <div class="movie-details-content ml-3 p-2">
      @if(Model.FirstAirDate != null){
        <h5 class="card-title">First Air Date</h5>
        <p>@FirstAirDate</p>
      }
      @if(Model.LastAirDate != null){
        <hr />
        <h5 class="card-title">Last Air Date</h5>
        <p>@LastAirDate</p>
      }
      @if(Model.CreatedBy != null){
        <hr />
        <h5 class="card-title">Created By</h5>
        <p>@CreatedString</p>
      }
      @if(Model.Networks != null){
        <hr />
        <h5 class="card-title">Network</h5>
        <p>@NetworkString</p>
      }
      @if(Model.Seasons != null){
        <hr />
        <h5 class="card-title">Seasons</h5>
        <p>@Model.NumberOfSeasons</p>
      }
      @if(Model.Seasons != null){
        <hr />
        <h5 class="card-title">Episodes</h5>
        <p>@Model.NumberOfEpisodes</p>
      }
      @if(Model.Overview != null){
        <hr />
        <h5 class="card-title">Overview</h5>
        <p>@Model.Overview</p>
      }
      @if(!String.IsNullOrEmpty(ProductionCoString)){
        <hr />
        <h5 class="card-title">Production Company</h5>
        <p>@ProductionCoString</p>
      }
    </div>
  </div>
</div>