@using Backlogger.ViewModels
@model RegisterViewModel

@{
  Layout = "_Layout";
}

<h1>Edit your account</h1>

@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
  <div class="form-group">
    @Html.LabelFor(user => user.FirstName)
    @Html.TextBoxFor(user => user.FirstName, new {@class="form-control", required = "required"})
    @Html.LabelFor(user => user.LastName)
    @Html.TextBoxFor(user => user.LastName, new {@class="form-control", required = "required"})
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user => user.Email, new {@class="form-control", required = "required"})

    @Html.LabelFor(user => user.Password)
    @Html.TextBoxFor(user => user.Password, new {@class="form-control", required = "required"})
    @Html.LabelFor(user => user.ConfirmPassword)
    @Html.TextBoxFor(user => user.ConfirmPassword, new {@class="form-control", required = "required"})
  </div>
  <input type="submit" value="Edit" class="btn btn-secondary">
}