@using System.Security.Claims

@{
  Layout = "_Layout";
}

<h1>Account Home</h1>

@if (User.Identity.IsAuthenticated)
{
  <div class="card mb-3">
    <div class="card-header">
      <h2>Hello @User.Identity.Name!</h2>
    </div>
    <div class="card-body">
      <h4><span class="text-dark mr-3">Name:</span> @Model.FirstName @Model.LastName</h4>
      <h4 class="mb-5"><span class="text-dark mr-3">Email:</span> @Model.UserName</h4>
      <h5>@Html.ActionLink("Edit Account", "Edit", new { id = this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value})</h5>
    </div>
  </div>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-secondary" value="Log out">
  }
}  
else
{
  <h5>@Html.ActionLink("Register", "Register")</h5>
  <h5>@Html.ActionLink("Log in", "Login")</h5>
}