@using Backlogger.Models
@using Backlogger.ViewModels
@using Backlogger.ApiModels
@model ItemIndexViewModel

@{
  Layout = "_Layout";
}
@if(Model.SearchOption != null)
{
  string TruncatedResults = "";
  long TruncatedNumber = Model.Results - 400;
  @if (Model.Results > 400)
  {
    TruncatedResults = " (" + @TruncatedNumber + " Results Truncated)";
  }
  <div class="pagination-container mb-1">
    <div>Total Search Results: @Model.Results @TruncatedResults</div>
  </div>
  @Html.Partial("PaginationCounter", Model)

  @if(Model.TvSearch != null)
  {
    foreach(TmdbTvSearchResult result in Model.TvSearch.Results)
    {
      @Html.Partial("TvSearchCard", result);
    }
  }
  @if (Model.GamesSearch != null)
  {
    foreach(RawgSearchResult result in Model.GamesSearch.Results)
    {
      @Html.Partial("GameSearchCard", result);
    }
  }
  @if (Model.MovieSearch != null)
  {
    foreach(TmdbMovieSearchResult result in Model.MovieSearch.Results)
    {
      @Html.Partial("MovieSearchCard", result);
    }
  }
  @Html.Partial("PaginationCounter", Model)
}
else
{
  @for (int i = 0; i < Model.ItemList.Count; i++)
  {
    ItemListViewModel viewModel = new ItemListViewModel{CurrentItem = Model.ItemList[i]};
    if (i != 0)
    {
      viewModel.PreviousId = Model.ItemList[i - 1].ItemId;
    }
    if (i != Model.ItemList.Count -1)
    {
      viewModel.NextId = Model.ItemList[i + 1].ItemId;
    }
    @Html.Partial("ItemCard", viewModel)
  }
}