@using Backlogger.Models
@using Backlogger.ViewModels
@using Backlogger.ApiModels
@model ItemIndexViewModel

@{
  Layout = "_Layout";
}
@if(Model.SearchOption != null)
{
  string TruncatedResults = "";
  long TruncatedNumber = Model.Results - 400;
  @if (Model.Results > 400)
  {
    TruncatedResults = " (" + @TruncatedNumber + " Results Truncated)";
  }
  <div class="pagination-container mb-1">
    <div>Total Search Results: @Model.Results @TruncatedResults</div>
  </div>
  @Html.Partial("PaginationCounter", Model)

  @if(Model.TvSearch != null)
  {
    foreach(TmdbTvSearchResult result in Model.TvSearch.Results)
    {
      SearchListViewModel resultModel = new SearchListViewModel{TmdbTvSearchResult = result, ApiIds = Model.ApiIds};
      @Html.Partial("TvSearchCard", resultModel);
    }
  }
  @if (Model.GamesSearch != null)
  {
    foreach(RawgSearchResult result in Model.GamesSearch.Results)
    {
      SearchListViewModel resultModel = new SearchListViewModel{RawgSearchResult = result, ApiIds = Model.ApiIds};
      @Html.Partial("GameSearchCard", resultModel);
    }
  }
  @if (Model.MovieSearch != null)
  {
    foreach(TmdbMovieSearchResult result in Model.MovieSearch.Results)
    {
      SearchListViewModel resultModel = new SearchListViewModel{TmdbMovieSearchResult = result, ApiIds = Model.ApiIds};
      @Html.Partial("MovieSearchCard", result);
    }
  }
  @Html.Partial("PaginationCounter", Model)
}
else
{
  <div class="ml-auto">
    @if(Model.ShowingCompleted == false)
    {
      @using (Html.BeginForm("Index", "Items", FormMethod.Get))
      {
        <input type="hidden" id="typeFilter" name="typeFilter" value="@Model.TypeFilter">
        <input type="hidden" id="showCompleted" name="showCompleted" value=true>
        <button class="btn btn-dark mb-2">Show Completed</button>
      }
    }
    else
    {
      @using (Html.BeginForm("Index", "Items", FormMethod.Get))
      {
        <input type="hidden" id="typeFilter" name="typeFilter" value="@Model.TypeFilter">
        <input type="hidden" id="showCompleted" name="showCompleted" value=false>
        <button class="btn btn-dark mb-2">Show Backlog</button>
      }
    }
  </div>
  
  @for (int i = 0; i < Model.ItemList.Count; i++)
  {
    ItemListViewModel viewModel = new ItemListViewModel{CurrentItem = Model.ItemList[i], ShowingCompleted = Model.ShowingCompleted};
    if (i != 0)
    {
      viewModel.PreviousId = Model.ItemList[i - 1].ItemId;
    }
    if (i != Model.ItemList.Count -1)
    {
      viewModel.NextId = Model.ItemList[i + 1].ItemId;
    }
    @Html.Partial("ItemCard", viewModel)
  }
}