@using Backlogger.ViewModels
@using Backlogger.ApiModels
@model ItemIndexPostViewModel

@{
  Layout = "_Layout";
}
@if(Model.Pages > 1)
{
  <div class="pagination-container">
  @for(int i = 0; i < Model.Pages; i++)
  {
    <a class="pagination-link" href="#">@i</a>
  }
  </div>
}
<div>Total Search Results: @Model.Results</div>
@if(Model.TvSearch != null)
{
  foreach(TmdbTvSearchResult result in Model.TvSearch.Results)
  {
    @Html.Partial("TvSearchCard", result);
  }
}
@if (Model.GamesSearch != null)
{
  foreach(RawgSearchResult result in Model.GamesSearch.Results)
  {
    @Html.Partial("GameSearchCard", result);
  }
}
@if (Model.MovieSearch != null)
{
  foreach(TmdbMovieSearchResult result in Model.MovieSearch.Results)
  {
    @Html.Partial("MovieSearchCard", result);
  }
}